body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}
a{
  color: #11999E;
}
h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: Sacramento, cursive;
  color: #66BFBF;
  line-height: 4;

}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #11999E;
}

.top-container {
  padding-top: 50px;
  background-color: #E4F9F5;
  position: relative;
}

.middle-container {

}

.bottom-container {

}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  

}
.skill-img{
  width: 25%;
}
.pro {
  text-decoration: underline;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
